<div class="login-div">
    <img src="assets/logo.png"
        style="width: 10%;  display: block; margin-left: auto; margin-right: auto; padding-top: 7%;">
    <div class="login-box pb-5">
        <p
            style="font-family: Poppins; font-size: 18px; font-style: normal; font-weight: 400; line-height: 27px; letter-spacing: 0em; text-align: center; color: #FFFFFF; padding-top: 5%; ">
            Bienvenue</p>
        <p
            style="font-family: Poppins; font-size: 24px; font-style: normal; font-weight: 700; line-height: 36px; letter-spacing: 0em; text-align: center; color: #FFFFFF;">
            Connectez-vous à votre compte</p>
            <div class="field m-3 mx-6 has-background-danger has-text-white has-text-centered " style="border-radius: 5px;">
                <p *ngIf="errormsg" class="py-1">{{errormsg}}</p>
            </div>
        <div class="field px-6 mt-4">
            <label class="label has-text-white">Email</label>
            <div class="control">
                <input class="input" #mail
                    style="background: #22252C; border-radius: 5px; border-color: #22252C; color: white;" type="mail"
                    placeholder="">
            </div>
        </div>
        <div class="field px-6 mt-3">
            <label class="label has-text-white">Mot de Passe</label>
            <div class="control">
                <input class="input" #password
                    style="background: #22252C; border-radius: 5px; border-color: #22252C; color: white;" type="password"
                    placeholder="">
                    <p class="help has-text-white">Mot de passe oublié ?</p>
            </div>
        </div>
        <div class="control mt-4">
            <button class="button has-text-weight-bold" style="width: 200px; margin-left: 30%; background: #2C1F81; border-radius: 5px; border-color: #2C1F81; color: white" (click)="verifyconnection(mail.value, password.value)">SE CONNECTER</button>
          </div>
    </div>
</div>

<div class="modal is-active" *ngIf="!cookiesaccepted">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head" style="background: #2C1F81">
        <p class="modal-card-title has-text-white">SignAi et votre vie privée</p>
      </header>
      <section class="modal-card-body has-background-black has-text-white">
        Pour améliorer votre expérience utilisateur, le site de Signai utilise des cookies ou technologues similaires. Ils sont détaillés ci-dessous :
        <br>
        <br>
        - <b>Gestion de connexion :</b> Afin de vous garder connecter et que vous puissez utiliser notre site internet. 
        <br>
        <br>
        - <b>Acceptation des cookies :</b> Pour ne pas vous déranger, à chaque fois avec cet pop-up, nous stockons votre choix dans un cookie. 
      </section>
      <footer class="modal-card-foot has-background-black">
        <button class="button is-success" (click)="acceptcookies()">J'accepte</button>
        <a href="/nocookies"><button class="button has-background-black has-text-white">Refuser et quitter le site</button></a>
      </footer>
    </div>
  </div>