<div>
    <img src="assets/logo.png" class="my-3"
        style="width: 80%;  display: block; margin-left: auto; margin-right: auto; padding-top: 7%;">
    <br>
    <div class="ml-3 mt-2">
        <a href="/dashboard">

            <p class="subtitle is-5 has-text-weight-semibold has-text-white ml-5 mb-5"> <i
                    class='bx bxs-dashboard mr-3'></i>Dashboard</p>
        </a>
        <a href="/moncompte">
            <p class="subtitle is-5 has-text-weight-semibold has-text-white ml-5 mb-5"><i
                    class='bx bxs-user-rectangle mr-3'></i>Mon Compte</p>
        </a>
        <a href="">
            <p class="subtitle is-5 has-text-weight-semibold has-text-white ml-5 mb-5"><i
                    class='bx bxs-help-circle mr-3'></i>Aide</p>
        </a>
    </div>
</div>

<div class="mb-4 ml-2 pl-4 py-3 has-text-white" style="background: #2C1F81; border-radius: 24px;">
    <p class="is-size-8">Votre conseiller</p>
    <br>
    <p class="subtitle is-5 has-text-white has-text-weight-semibold mb-3">{{contact_name}}</p>
    <p class="is-size-8">{{contact_mail}}</p>
    <p class="is-size-8">{{contact_telephone}}</p>
</div>