<!-- https://balramchavan.medium.com/using-openstreetmap-inside-angular-v6-3d42cbf03e57 -->
<div class="columns m-0 p-0" style="background: #161616; width: 100%; height: 100%">
  <app-menu class="column is-2" style="display: flex; flex-direction: column; justify-content: space-between;"
    [contact_name]="'Sitpi RAJENDRAN'" [contact_mail]="'sitpi.rajendran@signai.fr'"
    [contact_telephone]="'+33.6.68.62.99.53'"></app-menu>
  <div class="column is-10">
    <div class="side-box">
      <div class="columns m-0 p-0" style="width: 100%; height: 100%;">
        <div class="column is-6" style="overflow-y: scroll;">
          <p class="title is-4 has-text-white pt-6 pl-6">{{project.name}}</p>
          <p class="subtitle is-5 has-text-white pt-4 px-6">{{project.description}}</p>
          <p class="subtitle is-6 has-text-white pt-4 px-6 mb-2">Crée le : {{project.createdAt.slice(0,10)}}</p>
          <p class="subtitle is-6 has-text-white px-6">Modifié le : {{project.updatedAt.slice(0,10)}}</p>
          <div class="field px-6 mt-3 has-text-white" *ngIf='project.status'>
            <label class="label has-text-white">Etapes du Projet :</label>
            <br>
            <ul class="steps has-content-centered">
              <li *ngIf='project.status != "created"' class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content">
                  <p class="subtitle is-6 has-text-white">Création</p>
                </div>
              </li>
              <li *ngIf='project.status == "created"' class="steps-segment is-active">
                <span class="steps-marker"></span>
                <div class="steps-content">
                  <p class="subtitle is-6 has-text-white">Création</p>
                </div>
              </li>
              <li *ngIf='project.status != "running"' class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content">
                  <p class="subtitle is-6 has-text-white">Execution</p>
                </div>
              </li>
              <li *ngIf='project.status == "running"' class="steps-segment is-active">
                <span class="steps-marker"></span>
                <div class="steps-content">
                  <p class="subtitle is-6 has-text-white">Execution</p>
                </div>
              </li>
              <li *ngIf='project.status != "ended"' class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content">
                  <p class="subtitle is-6 has-text-white">Vérification</p>
                </div>
              </li>
              <li *ngIf='project.status == "ended"' class="steps-segment is-active">
                <span class="steps-marker"></span>
                <div class="steps-content">
                  <p class="subtitle is-6 has-text-white">Vérification</p>
                </div>
              </li>
              <li *ngIf='project.status == "finished"' class="steps-segment is-active">
                <span class="steps-marker"></span>
                <div class="steps-content">
                  <p class="subtitle is-6 has-text-white">Terminé</p>
                </div>
              </li>
              <li *ngIf='project.status != "finished"' class="steps-segment">
                <span class="steps-marker"></span>
                <div class="steps-content">
                  <p class="subtitle is-6 has-text-white">Terminé</p>
                </div>
              </li>
            </ul>
          </div>
          <br>
          <button class="button has-text-weight-bold"
                        *ngIf='constraints.displayed == false'
                        style="width: 250px; background: white; border-radius: 5px; border-color:white; color: #22252C; margin-left: 50%; margin-top: 1%"
                        (click)="displayConstraints()">Afficher les contraintes</button>
          <button class="button has-text-weight-bold"
                        *ngIf='constraints.displayed == true'
                        style="width: 250px; background: white; border-radius: 5px; border-color:white; color: #22252C; margin-left: 50%; margin-top: 1%"
                        (click)="hideConstraints()">Cacher les contraintes</button>
          <div class="field px-6 mt-3 has-text-white" *ngIf='constraints.displayed == true'>
            <label class="label has-text-white">Liste des Contraintes ({{project.contraints.length}})</label>
            <ul>
              <li *ngFor="let contraint of project.contraints;">
                <p *ngIf='contraint.type == "trafficlight"'>🚦 Feu de Signalisation à
                  {{contraint.latitude.toString().slice(0,10)}}, {{contraint.longitude.toString().slice(0,10)}}</p>
                <p *ngIf='contraint.type == "stop"'>🛑 Panneau Stop à {{contraint.latitude.toString().slice(0,10)}},
                  {{contraint.longitude.toString().slice(0,10)}}</p>
                <p *ngIf='contraint.type == "yield"'>🔻 Cédez le Passage à
                  {{contraint.latitude.toString().slice(0,10)}}, {{contraint.longitude.toString().slice(0,10)}}</p>
                <p *ngIf='contraint.type == "roundabout"'>🔄 Carrefour à sens giratoire à
                  {{contraint.latitude.toString().slice(0,10)}}, {{contraint.longitude.toString().slice(0,10)}}</p>
              </li>
            </ul>
          </div>
          <div class="field px-6 mt-3 has-text-white" *ngIf='project.status == "finished"'>
            <label class="label has-text-white">Résultats ({{project.results.length}})</label>
            <ul>
              <li *ngFor="let contraint of project.results;">
                <p *ngIf='contraint.type == "sign" && contraint.value == "redlight"'>🚦 Feu de Signalisation à
                  <a (click)="zoomToPoint(contraint.coordonateX, contraint.coordonateY)">{{contraint.coordonateX.toString().slice(0,7)}}, {{contraint.coordonateY.toString().slice(0,7)}}</a></p>

                  <p *ngIf='contraint.type == "sign" && contraint.value == "priority_stop"'>
                  <span *ngIf='getModifState(contraint.id) == true'>🛑 Nouveau Panneau Stop à </span>
                  <span *ngIf='getModifState(contraint.id) == false'>🛑 Ancien {{getSignOldModif(contraint.id)}} à </span>
                  <a (click)="zoomToPoint(contraint.coordonateX, contraint.coordonateY)">{{contraint.coordonateX.toString().slice(0,7)}}, {{contraint.coordonateY.toString().slice(0,7)}}</a>
                  <a (click)="signSetPointStateAndOldState(contraint.id, contraint.coordonateX, contraint.coordonateY)"> ↩️</a>
                </p>
                <p *ngIf='contraint.type == "sign" && contraint.value == "right_before_left"'>
                  <span *ngIf='getModifState(contraint.id) == true'>🛑 Nouveau panneau priorité à droite à </span>
                  <span *ngIf='getModifState(contraint.id) == false'>🛑 Ancien {{getSignOldModif(contraint.id)}} à </span>
                  <a (click)="zoomToPoint(contraint.coordonateX, contraint.coordonateY)">{{contraint.coordonateX.toString().slice(0,7)}}, {{contraint.coordonateY.toString().slice(0,7)}}</a>
                  <a (click)="signSetPointStateAndOldState(contraint.id, contraint.coordonateX, contraint.coordonateY)"> ↩️</a>
                </p>
                <p *ngIf='contraint.type == "sign" && contraint.value == "priority"'>
                  <span *ngIf='getModifState(contraint.id) == true'>🛑 Nouveau panneau priorité à </span>
                  <span *ngIf='getModifState(contraint.id) == false'>🛑 Ancien {{getSignOldModif(contraint.id)}} à </span>
                  <a (click)="zoomToPoint(contraint.coordonateX, contraint.coordonateY)">{{contraint.coordonateX.toString().slice(0,7)}}, {{contraint.coordonateY.toString().slice(0,7)}}</a>
                  <a (click)="signSetPointStateAndOldState(contraint.id, contraint.coordonateX, contraint.coordonateY)"> ↩️</a>
                </p>

                <p *ngIf='contraint.type == "yield"'>🔻 Cédez le Passage à 
                  <a (click)="zoomToPoint(contraint.coordonateX, contraint.coordonateY)">{{contraint.latitude.toString().slice(0,7)}}, {{contraint.longitude.toString().slice(0,7)}}</a></p>
                <p *ngIf='contraint.type == "roundabout"'>🔄 Carrefour à sens giratoire à 
                  <a (click)="zoomToPoint(contraint.coordonateX, contraint.coordonateY)">{{contraint.latitude.toString().slice(0,7)}}, {{contraint.longitude.toString().slice(0,7)}}</a></p>

                <p *ngIf='contraint.type == "speed"' >🛞 {{getModifState(contraint.id) ? "Nouvelle vitesse limité " : "Ancienne vitesse limité à " }}
                  {{(getModifState(contraint.id) == true) ? (contraint.value * 3.6 ).toFixed(0): (contraint.oldValue * 3.6).toFixed(0)}} km/h à
                  <a (click)="zoomToPoint(contraint.coordonateX, contraint.coordonateY)">{{contraint.coordonateX.toString().slice(0,7)}}, {{contraint.coordonateY.toString().slice(0,7)}}</a>
                  <a (click)="speedSetPointStateAndOldState(contraint.id, contraint.coordonateX, contraint.coordonateY)"> ↩️</a>
                </p>

                <p *ngIf='contraint.type == "priority_up"'>🛞
                  <span *ngIf='getModifState(contraint.id) == true'> Augmentation de la priorité à </span>
                  <span *ngIf='getModifState(contraint.id) == false'> Ancienne priorité de la route à </span>
                  <a (click)="zoomToPoint(contraint.coordonateX, contraint.coordonateY)">{{contraint.coordonateX.toString().slice(0,7)}}, {{contraint.coordonateY.toString().slice(0,7)}}</a>
                  <a (click)="priorityUpSetPointStageAndOldState(contraint.id, contraint.coordonateX, contraint.coordonateY)"> ↩️</a>
                </p>

                <p *ngIf='contraint.type == "priority_down"' >🛞
                  <span *ngIf='getModifState(contraint.id) == true'> Priorité de la route baissé à </span>
                  <span *ngIf='getModifState(contraint.id) == false'> Ancienne priorité de la route à </span>
                  <a (click)="zoomToPoint(contraint.coordonateX, contraint.coordonateY)">{{contraint.coordonateX.toString().slice(0,7)}}, {{contraint.coordonateY.toString().slice(0,7)}}</a>
                  <a (click)="priorityDownSetPointStageAndOldState(contraint.id, contraint.coordonateX, contraint.coordonateY)"> ↩️</a>
                </p>

                <p *ngIf='contraint.type == "traffic_light"' >🛞
                  <span *ngIf='getModifState(contraint.id) == true'> Changement des cycles du feux à </span>
                  <span *ngIf='getModifState(contraint.id) == false'> Ancien cyle du feu à </span>
                  <a (click)="zoomToPoint(contraint.coordonateX, contraint.coordonateY)">{{contraint.coordonateX.toString().slice(0,7)}}, {{contraint.coordonateY.toString().slice(0,7)}}</a>
                  <a (click)="tlSetPointStageAndOldState(contraint.id, contraint.coordonateX, contraint.coordonateY)"> ↩️</a>
                  <li *ngFor="let cycle of (getModifState(contraint.id) == true ? contraint.value['newTlCycle']: contraint.oldValue['newTlCycle'])" style="margin-left: 5%;" >cycle numéro {{cycle["cycleNb"]}}, durée : {{cycle["duration"]}} secondes. <a (click)="changeCycle(contraint.id, cycle['cycleNb'])"> {{cycle["dispBool"] == 0 ? 'open' : 'close'}}</a>
                    <p *ngIf="cycle['dispBool']">
                      <li *ngFor="let direction of cycle['detail']" style="margin-left: 5%">De la route {{direction["fromNode"]}} à la route {{direction["toNode"]}}
                      <span style="height: 25px; width: 25px; border-radius: 50%; display: inline-block" [style.background]="direction['color'] == 'vert' ? 'green' : 'yellow'"></span></li>
                    </p>
                  </li>
                </p>
              </li>
            </ul>
            <p>
              <img style="max-width: 50%; height: auto; padding: 5px;" src="{{this.graphicTrip}}" alt="graphique">
              <img style="max-width: 50%; height: auto; padding: 5px;" src="{{this.graphicRoad}}" alt="graphique">
            </p>
          </div>
        </div>
        <div class="column is-6 map p-0" id="map" style="border-radius: 24px;">
        </div>
      </div>
    </div>
  </div>
</div>