<div class="login-div">
 <img src="assets/logo.png"
  style="width: 10%;  display: block; margin-left: auto; margin-right: auto; padding-top: 7%;">
 <div class="login-box pb-5">
  <p
   style="font-family: Poppins; font-size: 18px; font-style: normal; font-weight: 400; line-height: 27px; letter-spacing: 0em; text-align: center; color: #FFFFFF; padding-top: 5%; ">
   🍪 Vous n'aimez pas nos cookies 🍪</p>
  <br>
  <p class="has-text-white m-5">Malheuresement si vous n'acceptez pas les cookies (ou technologies similaires) utilisés
   par notre site vous ne pouvez pas accédez à notre dashboard. Pour rappel, ils permettents :
   <br>
   <br>
   - <b>Gestion de connexion :</b> Afin de vous garder connecter et que vous puissez utiliser notre site internet.
   <br>
   <br>
   - <b>Acceptation des cookies :</b> Pour ne pas vous déranger, à chaque fois avec cet pop-up, nous stockons votre
   choix dans un cookie.
  </p>
  <p style="text-align: center;"><a href="/login"><button class="button is-success">Changez d'avis</button></a></p>

 </div>
</div>