<!-- https://balramchavan.medium.com/using-openstreetmap-inside-angular-v6-3d42cbf03e57 -->
<div class="columns m-0 p-0" style="background: #161616; width: 100%; height: 100%">
    <app-menu class="column is-2" style="display: flex; flex-direction: column; justify-content: space-between;"
        [contact_name]="'Sitpi RAJENDRAN'" [contact_mail]="'sitpi.rajendran@signai.fr'"
        [contact_telephone]="'+33.6.68.62.99.53'"></app-menu>
    <div class="column is-10">
        <div class="side-box">
            <div class="columns m-0 p-0" style="width: 100%; height: 100%;">
                <div class="column is-6">
                        <p class="title is-4 has-text-white pt-6 pl-6">Demande de Projet</p>
                        <div class="field px-6 mt-4">
                            <label class="label has-text-white">Nom du Projet</label>
                            <div class="control">
                                <input class="input"
                                    style="background: #22252C; border-radius: 5px; border-color: #22252C; color: white;"
                                    type="text" placeholder="" #name>
                            </div>
                        </div>
                        <div class="field px-6 mt-4">
                            <label class="label has-text-white">Description</label>
                            <div class="control">
                                <input class="input"
                                    style="background: #22252C; border-radius: 5px; border-color: #22252C; color: white;"
                                    type="textarea" placeholder="" #description>
                            </div>
                        </div>
                        <div class="field px-6 columns">
                            <div class="column is-4">
                                <label class="label has-text-white">Code Postal</label>
                                <div class="control">
                                    <input class="input"
                                        style="background: #22252C; border-radius: 5px; border-color: #22252C; color: white;"
                                        type="number" name="cp" id="cp" placeholder="" #postalcode>
                                </div>
                            </div>
                            <div class="column is-8">
                                <label class="label has-text-white">Ville</label>
                                <div class="control">
                                    <input class="input"
                                        style="background: #22252C; border-radius: 5px; border-color: #22252C; color: white;"
                                        type="text" name="ville" id="ville" placeholder="" #city>
                                </div>
                            </div>
                        </div>
                        <div class="field px-6 ">
                            <label class="label has-text-white">Adresse</label>
                            <div class="control">
                                <input class="input"
                                    style="background: #22252C; border-radius: 5px; border-color: #22252C; color: white;"
                                    type="text" name="adresse" id="adresse" placeholder="" required #address>
                            </div>
                        </div>
                        <div class="field px-6 ">
                            <label class="label has-text-white">Rayon d'action</label>
                            <div class="control">
                                <input class="input"
                                    style="background: #22252C; border-radius: 5px; border-color: #22252C; color: white;"
                                    type="number" placeholder="" min="20"
                                    max="1000" required #radius>
                            </div>
                        </div>
                        <button class="button has-text-weight-bold"
                            style="width: 200px; background: #2C1F81; border-radius: 5px; border-color: #2C1F81; color: white; margin-left: 60%; margin-top: 10%;" (click)="createProject1(name.value, postalcode.value, city.value, address.value, radius.value, description.value)">SUIVANT -></button>
                </div>
                <div class="column is-6 map p-0" style="border-radius: 24px;">
                </div>
            </div>
        </div>
    </div>
</div>